<br>
<div id="newShedule">
    <h4 class="newJob">Edit An Existing Job</h4>
    <div class="container">
        <form [formGroup]="editForm" novalidate autocomplete="off">
            <div class="row">
                <div class="col-25">
                    <h4>Enter Job Name:</h4>
                </div>
                <div class="col-75">
                    <input type="text" name="jobName" formControlName="jobName" readonly="true" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <h4>Task:</h4>
                </div>
                <div class="col-75">
                    <input type="text" name="groupName" formControlName="groupName" readonly="true" />
                </div>
            </div>

            <div>
                <h4>Enter Date and Time:</h4>
            </div>
            <table>
                <tr>
                    <td>
                        Year:
                        <input type="text" name="year" id="year" placeholder="yyyy" class="form-control" formControlName="year" style="width:100px"
                        />
                    </td>
                    <td>
                        Month:
                        <input type="text" name="month" id="month" placeholder="MM" class="form-control" formControlName="month" style="width:100px"
                        />
                    </td>
                    <td>
                        Day:
                        <input type="text" name="day" id="day" placeholder="dd" class="form-control" formControlName="day" style="width:100px" />
                    </td>
                    <td>
                        Hour(24-hour):
                        <input type="text" name="hour" id="hour" placeholder="HH" class="form-control" formControlName="hour" style="width:100px"
                        />
                    </td>
                    <td>
                        Minute:
                        <input type="text" name="minute" id="minute" placeholder="mm" class="form-control" formControlName="minute" style="width:100px"
                        />
                    </td>
                </tr>
            </table>
            <br>
            <div>
                <h4>Cron Details</h4>
            </div>
            <table>
                <tr>
                    <td>Select a cron schedule : &nbsp;</td>
                    <td>
                        <select (change)="cronChange($event.target.value)" class="form-control">
                            <option value="0 0/5 * 1/1 * ? *">Every 5 minutes</option>
                            <option value="0 0/10 * 1/1 * ? *">Every 10 minutes</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="buttonAction">
                <table class="butonTab">
                    <tr>
                        <td style="padding: 5px;" colspan="2">

                            <!-- Used only in case of Edit Job -->
                            <input type="button" name="submit" id="submit" (click)="updateJob()" value="Update" />

                            <input type="button" name="submit" id="submit" (click)="cancelEdit()" value="Clear" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>